<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="logName" value="service-b"/>

    <!-- ============================================================================= -->
    <!-- stdout appender ............................................................. -->
    <!-- ============================================================================= -->
    <appender class="ch.qos.logback.core.ConsoleAppender" name="stdout">
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>

    </appender>
    <appender class="ch.qos.logback.classic.AsyncAppender" name="async-stdout">
        <appender-ref ref="stdout"/>
        <includeCallerData>true</includeCallerData>
    </appender>


    <!-- ============================================================================= -->
    <!-- rollingFile appender ...;..................................................... -->
    <!-- ============================================================================= -->
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender"
              name="rollingFile">
        <file>./logs/${logName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/${logName}.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 50MB -->
                <maxFileSize>800MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender class="ch.qos.logback.classic.AsyncAppender" name="async-rollingFile">
        <appender-ref ref="rollingFile"/>
        <includeCallerData>true</includeCallerData>
    </appender>

    <!--沒有設置appender，即繼承root-->
    <logger name="com.kong">
    </logger>


    <!--根節點打印日誌配置-->
    <root level="INFO">
        <appender-ref ref="async-stdout"/>
        <appender-ref ref="async-rollingFile"/>
    </root>
</configuration>
